<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-androidGps" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AndroidGps</name>
    <js-module name="androidGps" src="www/androidGps.js">
        <clobbers target="androidGps" />
    </js-module>

    <!-- Android用の設定 -->
  <platform name="android">
    <!-- Androidのconfig.xmlはここ→project/platform/android/res/xml/config.xmlにあるのでそこに反映するように -->
    <config-file target="res/xml/config.xml" parent="/*">
      <!-- Cordovaはfeatureタグをみて、どのプラグインが有効か見る。以下の情報が上記のファイルに追加される。 -->
      <feature name="androidGps">
        <param name="android-package" value="com.example.android.gps.AndroidGps"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
    </config-file>
    <!-- Javaのソースファイル。 target-dir: ファイルがコンパイルされるべき場所 -->
    <source-file src="src/com/example/android/gps/AndroidGps.java" target-dir="src/plugin/androidGps/"/>
    <!--ライブラリもここで指定する-->
    <resource-file src="src/com/example/android/jackson-annotations-2.9.0.jar" target="libs/jackson-annotations-2.9.0.jar"/>
    <resource-file src="src/com/example/android/jackson-core-2.9.0.jar" target="libs/jackson-core-2.9.0.jar"/>
    <resource-file src="src/com/example/android/jackson-databind-2.3.1.jar" target="libs/jackson-databind-2.3.1.jar"/>
  </platform>
</plugin>
